
body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}
nav .row {
  background-color:#333;
}

/* header style */
header {background-color:#ddd;}
h1 {
  margin:5%;
}
nav {
  padding:3% 0; 
  margin:4%;
  background-color:#666;
  text-align:center;
  color:#fff;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self:center; 
  box-shadow: -2px -4px rgba(0,0,0,.2) inset;

}

/* main */
.blue {
  background-color: #2ba6cb;
  color:#Fff;
  text-align: center;
  padding:1% 0; 
  margin:3% 20%;
  box-shadow: -2px -4px rgba(0,0,0,.2) inset;

}
.blue .column {
}
.numbers p {
  text-align: center;
  font-size:4em;
  font-weight: bold;
}

.btns {
  justify-content: space-around;
  text-align: center;
}
.btns .column {

}

.start {
  color: #fff;
  padding:1%;
  width:150px;
  background-color: #5da423;
  border: 1px solid #396516;
  box-shadow: -2px -4px rgba(0,0,0,.2) inset;
}
.stop {
    background-color: #c60f13;
    border: 1px solid #7f0a0c;
    box-shadow: -2px -4px rgba(0,0,0,.2) inset;
    color:#fff;
    padding:1%;
    width:150px;
}
.reset {
    width:150px;
    padding:1%;
    box-shadow: -2px -4px rgba(0,0,0,.2) inset;  
}








